body {
    font-family: "Open Sans",sans-serif;
    color: black;
}
/*Linku, myktuku kodas*/
a {
    color: #149ddd;
    text-decoration: none;
}  
a:hover{
    color: #37b3ed;
    text-decoration: none;
}
a:active {
    color: rgb(16, 9, 207); /* Pakeičiama spalva, kai nuoroda yra paspaudžiama */
}
#portfolio img:hover {
    opacity: 40%; 
}
h1,h2,h3,h4,h5,h6 {
  font-family: "Raleway", sans-serif;
}
/*---------------------------------------------------------*/
/*gristi i virsu mygtukas*/
.back-to-top {
position: fixed;
visibility: hidden;
opacity: 0;
right: 15px;
bottom: 15px;
z-index: 996;
background: #149ddd;
width: 40px;
height: 40px;
border-radius: 50px;
transition: all 0.4s;
} 
.back-to-top i {
font-size: 28px;
color: #fff;
line-height: 0;
}  
.back-to-top:hover {
background: #2eafec;
color: #fff;
} 
.back-to-top.active {
visibility: visible;
opacity: 1;
}
/*---------------------------------------------------------*/
/*---------------antraste------------------------------*/
#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
} 
#header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #2c2f3f;
} 
#header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Poppins", sans-serif;
} 
/*Linku, myktuku kodas*/
#header .profile h1 a, #header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}
#header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}
#header .profile .social-links a:hover {
    background-color: rgb(0, 234, 255);
    color: #fff;
    text-decoration: none;
}  
#header .profile .social-links a:active {
    color: rgb(16, 9, 207); /* Pakeičiama spalva, kai nuoroda yra paspaudžiama*/ 
}
#main {
    margin-left: 300px;
}  
.container,.container-fluid {
    padding-left: 30px;
    padding-right: 30px;
}
/*---------------------------------------------------------*/
/*---------------navigacinis meniu------------------------------*/
.nav-menu {
    padding: 30px 0 0 0;
}
.nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}
.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}
.nav-menu a, .nav-menu a:focus {
  display: flex;
  align-items: center;
  color: #a8a9b4;
  padding: 12px 15px;
  margin-bottom: 8px;
  transition: 0.3s;
  font-size: 15px;
}
.nav-menu a i, .nav-menu a:focus i {
  font-size: 24px;
  padding-right: 8px;
  color: #6f7180;
}
.nav-menu a:hover, .nav-menu .active,
.nav-menu .active:focus, .nav-menu li:hover>a {
  text-decoration: none;
  color: #fff;
}
.nav-menu a:hover i, .nav-menu .active i,
.nav-menu .active:focus i, .nav-menu li:hover>a i {
  color: #149ddd;
}
/* Mobili navigacija */
.mobile-nav-toggle {
    position: fixed;
    right: 15px;
    top: 15px;
    z-index: 9998;
    border: 0;
    font-size: 24px;
    transition: all 0.4s;
    outline: none !important;
    background-color: #149ddd;
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 0;
    border-radius: 50px;
    cursor: pointer;
}  
.mobile-nav-active {
    overflow: hidden;
} 
.mobile-nav-active #header {
    left: 0;
}
/*---------------------------------------------------------*/
/*---------------Pradzia------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background: url("Photo/sunflowers.jpg") top center;
    background-size: cover;
}  
#hero:before {
    content: "";
    background: rgba(5, 13, 24, 0.3);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
#hero .hero-container {
    position: relative;
    z-index: 2;
    min-width: 300px;
}  
#hero h1 {
    margin: 0 0 10px 0;
    font-size: 64px;
    font-weight: 700;
    line-height: 56px;
    color: #fff;
}  
#hero p {
    color: #fff;
    margin-bottom: 50px;
    font-size: 26px;
    font-family: "Poppins", sans-serif;
}  
#hero p span {
    color: #fff;
    padding-bottom: 4px;
    letter-spacing: 1px;
    border-bottom: 3px solid #149ddd;
}
/*---------------------------------------------------------*/
/*---------------Bendri nustatymai------------------------------*/
section {
    padding: 60px 0;
    overflow: hidden;
}  
.section-bg {
    background: #f5f8fd;
}
.section-title {
    padding-bottom: 30px;
}  
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
    color: #173b6c;
} 
.section-title h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 2px;
    background: #149ddd;
    bottom: 0;
    left: 0;
}  
.section-title p {
    margin-bottom: 0;
}
/*---------------------------------------------------------*/
/*---------------Apie------------------------------*/
.about .content h3{
    font-weight: 700;
    font-size: 26px;
    color: #173b6c
}
.about .content ul {
    list-style: none;
    padding: 0;
}
.about .content ul li {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}  
.about .content ul strong {
    margin-right: 10px;
}  
.about .content ul i {
    font-size: 16px;
    margin-right: 5px;
    color: #149ddd;
    line-height: 0;
}  
.about .content p:last-child {
    margin-bottom: 0;
}
.about p{
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    color: black;
    padding-bottom: 20px;
}
/*---------------------------------------------------------*/
/*---------------Aprasymo kodas------------------------------*/
.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #050d18;
}
.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #1f5297;
    position: relative;
}
.resume .resume-item h4 {
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
    color: #050d18;
    padding-bottom: 10px;
}
.resume .resumes{
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    color: black;
    padding-bottom: 20px;
}
.resume .resume-item h5 {
    font-size: 16px;
    background: #e4edf9;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}
.resume .resume-item ul {
    padding-left: 20px;
}  
.resume .resume-item ul li {
    padding-bottom: 10px;
}  
.resume .resume-item:last-child {
    padding-bottom: 0;
} 
.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -9px;
    top: 0;
    background: #fff;
    border: 2px solid #1f5297;
}
.resume p{
    line-height: 18px;
    font-size: 18px;
    font-weight: normal;
    color: black;
    padding-bottom: 20px;
}
/*---------------------------------------------------------*/
/*---------------Atlikti darbai------------------------------*/
.portfolio .portfolio-item {
    margin-bottom: 30px;
}
.portfolio #portfolio-flters {
    padding: 0;
    margin: 0 auto 35px auto;
    list-style: none;
    text-align: center;
    background: #ffffff;
    border-radius: 50px;
    padding: 2px 15px;
} 
.portfolio #portfolio-flters li {
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    color: #272829;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}
.portfolio #portfolio-flters li:hover,
.portfolio #portfolio-flters li.filter-active {
    color: #149ddd;
}
.portfolio #portfolio-flters li:last-child {
    margin-right: 0;
}
.portfolio .portfolio-wrap {
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}
.portfolio .portfolio-wrap .portfolio-links {
    opacity: 1;
    left: 0;
    right: 0;
    bottom: -60px;
    z-index: 3;
    position: absolute;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: center;
}
.portfolio .portfolio-wrap .portfolio-links a {
    color: #fff;
    font-size: 28px;
    text-align: center;
    background: rgba(20, 157, 221, 0.75);
    transition: 0.3s;
    width: 50%;
}
.portfolio .portfolio-wrap .portfolio-links a:hover {
    background: rgba(20, 157, 221, 0.95);
}  
.portfolio .portfolio-wrap .portfolio-links a+a {
    border-left: 1px solid #37b3ed;
}  
.portfolio .portfolio-wrap:hover::before {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
}  
.portfolio .portfolio-wrap:hover .portfolio-links {
    opacity: 1;
    bottom: 0;
}
.portfolio-wrap img {
    height: 240px; /* Taip išlaikoma nuotraukos proporcija */
    max-width: 100%; 
    margin-bottom: 10px;
}


/*---------------------------------------------------------*/
/*---------------Paslaugos------------------------------*/
.klase1{
    border: 2px solid grey; 
    padding: 10px; 
    border-radius: 8px; 
    margin-bottom: 20px;
    margin-top: 20px;
  }
#services h3{
    line-height: 18px;
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    color: #9312d8;
    margin-bottom: 10px;
}
button{
    width: 35%;
    background-color: #5e4caf;
    color: white;
    padding: 8px 10px;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    font-size: 12px;
}
button:hover {
    background-color: rgb(0, 234, 255);
    text-decoration: none;
}
button:active {
    background-color: rgb(16, 9, 207); /* Pakeičiama spalva, kai nuoroda yra paspaudžiama */
}
.video-link{
    display: none;
}
/*---------------------------------------------------------*/
/*---------------Poraste------------------------------*/ 
#footer {
    padding: 40px 0;
    background-color: grey;
}  
.social-links-footer a {
    font-size: 24px;
    margin-right: 15px;
    color: #fff;
}


.m {
    position: relative;
    width: 400px;
    height: 400px;
    position: relative;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle, #05263c, #000d1a);

}
.m::before {
    content: "";
    width: 425px;
    height: 425px;
    position: absolute;
    border-radius: 50%;
    background: linear-gradient(to right, #00d9ff, #ee00ff);
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, 0.2);
    z-index: -1;
}
.circle .center-dot {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #ee00ff;
    border: 6px solid #00d9ff;
    border-radius: 50%;
}
.clock span {
    position: absolute;
    inset: 20px;
    color: #00d9ff;
    text-align: center;
    transform: rotate(calc(30deg * var(--i)));
    font-size: 40px;
    text-shadow: 0 0 12px #ee00ff;
}
.clock span b {
    display: inline-block;
    transform: rotate(calc(-30deg * var(--i)));
}
.hour-hand,.minute-hand,.second-hand {
    --rotate: 0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
    transform-origin: bottom;
    border-radius: 30px 30px 0 0;
}
.hour-hand {
    width: 12px;
    height: 100px;
    background: linear-gradient(#00d9ff, #ee00ff);
}
.minute-hand {
    width: 12px;
    height: 160px;
    background: linear-gradient(to top, #00d9ff, #ee00ff);
}
.second-hand {
    width: 6px;
    height: 180px;
    background: linear-gradient(to top, #00d9ff, #ee00ff);
}